/* reading mode */
dl dt {
  font-weight: bold;
}

/* live preview */
.dl-dt {
  font-weight: bold;
}

.dl-dd-reg {
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 40px !important;
  /* to add space between definitions, must use padding */
  /* padding-bottom: 0.75em !important; */
}

.dl-dd-indent {
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 40px !important;
  text-indent: 0px !important;
  /* to add space between definitions, must use padding */
  /* padding-bottom: 0.75em !important; */
}

.dl-hidden-marker {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
