/* reading mode */
dl dt {
  font-weight: bold;
}

dl dd P
	margin-inline-start: var(--list-indent);

/* live preview */
.dl-dt {
  font-weight: bold;
}

.markdown-source-view.mod-cm6 .cm-line.dl-dd-reg,
.markdown-source-view.mod-cm6 .cm-line.dl-dd-indent
{
  padding-inline-start: var(--list-indent);
  /* to add space between definitions, must use padding */
  /* padding-bottom: 0.75em !important; */
}

.markdown-source-view.mod-cm6 .cm-line.dl-dd-indent {
  text-indent: 0px;
  /* to add space between definitions, must use padding */
  /* padding-bottom: 0.75em !important; */
}

.dl-hidden-marker {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
