dl dt {
  font-weight: bold;
}

.definition-list-dt {
  font-weight: bold;
}

.definition-list-dd-margin {
  display: inline-block;
  margin-inline-start: 40px; /* Adjust as needed */
}

.definition-list-dd-content {
  display: inline;
}

.definition-list-hidden-marker {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
